    <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
         <div class="container">
           <a class="navbar-brand js-scroll-trigger demoFont" href="/index/#page-top">DebtApp</a>
           <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               Menu <i class="fas fa-bars ml-1"></i>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ml-auto">
                 <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#loans">Loans</a></li>
                 <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#events">Events</a></li>
                 <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#expenses">Expenses</a></li>
                 <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/newLoan">New Loan</a></li>
                 <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/newEvent">New Event</a></li>
                 <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/newExpense">New Expense</a></li>
                 {{!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li> --}}
              </ul>
           </div>
         </div>
      </nav>

 <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To DebtApp!</div>
                <div class="masthead-heading text-uppercase">Easy track of your money</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#loans">Check my loans</a>
            </div>
        </header>
        <!-- loans section-->
        <section class="page-section" id="loans">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Loans</h2>
                    <h3 class="section-subheading text-muted">Let's see your loans.</h3>
                </div>
                <div class="row text-center" id="loansMainDiv">
                    {{#each loans}}
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fas fa-circle fa-stack-2x text-primary "></i>
                                <i class ="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class='my-3'>{{name}} | {{amount}} zł</h4>
                            <p class='text-muted'>{{returnDate}} | {{paid}}</p>
                            <a class="btn btn-secondary" href="newLoan/?id={{this._id}}">Edit</a>
                            <a class="btn btn-danger" href="loan-delete/?id={{this._id}}">Delete</a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>

        <!-- events Grid-->
        <section class="page-section bg-light" id="events">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Events</h2>
                    <h3 class="section-subheading text-muted">You are participating in those events</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="events-item">
                            <a class="events-link" data-toggle="modal" href="#eventsModal1">
                                <div class="events-hover">
                                    <div class="events-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/images/events/01-thumbnail.jpg" alt="" />
                            </a>
                            <div class="events-caption">
                                <div class="events-caption-heading">Threads</div>
                                <div class="events-caption-subheading text-muted">Illustration</div>
                            </div>
                        </div>
                    </div>
                    {{#each events}}
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="events-item">
                            <a class="events-link" data-toggle="modal" href="#eventsModal4">
                                <div class="events-hover">
                                    <div class="events-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/images/events/04-thumbnail.jpg" alt="" />
                            </a>
                            <div class="events-caption">
                                <div class="events-caption-heading">{{name}}</div>
                                <div class="events-caption-subheading text-muted">{{date}}</div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>

        <!-- expenses-->
        <section class="page-section" id="expenses">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Expenses</h2>
                    <h3 class="section-subheading text-muted">Check expenses on participated events.</h3>
                </div>
                <ul class="timeline" id="timelineMainDiv">
                    {{#each expenses}}
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                            <h4>{{cost}}</h4>
                            <h4 class="subheading">{{name}}</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Sponsored by: {{sponsoredBy}}</p></div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>

         <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Copyright © Your Website 2020</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a class="mr-3" href="#!">Privacy Policy</a>
                        <a href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- events Modals-->
        <!-- Modal 1-->
        <div class="events-modal modal fade" id="eventsModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="/images/events/01-full.jpg" alt="" />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2020</li>
                                        <li>Client: Threads</li>
                                        <li>Category: Illustration</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2-->

        {{#each events}}
        <div class="events-modal modal fade" id="eventsModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="/images/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">{{name}}</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="/images/events/02-full.jpg" alt="" />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>Date: {{date}} </li>
                                        <li>Client: {{participants}}</li>
                                        <li>Category: Graphic Design</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
       