<!-- loans section-->
<section class="page-section" id="loans">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Loans</h2>
            <h3 class="section-subheading text-muted">Let's see your loans.</h3>
        </div>
        <div id='search-controls'>
            <form action="/index/" method="GET">
                <label>Wpisz frazę</label>
                <input type="text" name="search" />
                <input type="hidden" name="sort" values="{{sort}}" />
                <input type="submit" value="Szukaj" />
            </form>
        </div>
        <div id='page-controls'>
            <a href="?sort=1">A-Z</a>
            <a href="?sort=-1">Z-A</a>
            <a href="?sort={{sort}}&page={{prevPage}}">&lt;&lt;</a>
            <a href="?sort={{sort}}&page={{nextPage}}">&gt;&gt;</a>
            <p>Page {{page}} of {{count}}</p>
        </div>
        <div class="row text-center" id="loansMainDiv">
            {{#each loans}}
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary "></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class='my-3'>{{name}} | {{amount}} zł</h4>
                <p class='text-muted'>{{returnDate}} | {{paid}}</p>
                <a class="btn btn-secondary" href="newLoan/?id={{this._id}}">Edit</a>
                <a class="btn btn-danger" href="loan-delete/?id={{this._id}}">Delete</a>
            </div>
            {{/each}}
        </div>
    </div>
</section>