<header class="masthead">
<div align="center">
    <form action="/newExpense/" method="post">

      <div class="form-group col-md-4">
        <label for="selectEvent">Event</label>
        <input class="form-control tex-muted" readonly type="text" name="event" value="{{newExpense.event}}"
          id="event" placeholder="Pick a value below... "/>
      </div>

      <div class="form-group col-md-4">
        <select id="selectEvent" class="form-control" onchange="selEvnt()">
          {{#each events}}
          <option value="{{name}}"> {{name}} </option>
          <option style="display:none" id="{{name}}-participants">{{participants}}</option>
          {{/each}}
        </select>
      </div>
      
      <div class="form-group col-md-4">
        <label for="expense">Expense</label>
        <input type="text" class="form-control" value="{{newExpense.name}}" name="name" id="name"
          placeholder="Expense name">
      </div>

      <div class="form-group col-md-4">
        <label for="expenseAmount">Cost</label>
        <input type="text" class="form-control" value="{{newExpense.cost}}" name="cost" id="cost" placeholder="Amount">
      </div>

      <div class="form-group col-md-4">
        <label for="sponsoredBy">Who's sponsoring</label>
        <input type="text" class="form-control" readonly value="{{newExpense.sponsoredBy}}" name="sponsoredBy"
          id="sponsoredBy" placeholder="Pick a value below... "/>
      </div>

      <div class="form-group col-md-4">
        <select id="selectBuyer" class="form-control" onchange="selBuyer()">

        </select>
        <input class="form-control" type="hidden" name="participants" value="partycypanci" id="participants" />
      </div>

      <input type="hidden" type="text" name="_id" value="{{newExpense._id}}" />
      <button type="submit" class="btn btn-primary">Add expense</button>
       <a class="btn btn-danger" href="/expenses/">Powrót </a>
    </form>
   
</div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    fillFields();
  });
</script>