<header class="masthead">
  <div align="center">
    <form action="/newLoan/" method="post">
    
      {{#each errors}}
      <label id='error-summary' class="alert alert-danger">{{this}}</label><br>
      {{/each}}

      <div class="form-group col-md-4">
        <label for="name">Debtor</label>
        <input type="text" class="form-control " id="name" name="name" value="{{newLoan.name}}"
          placeholder="Debtor name" required>
      </div>

      <div class="form-group col-md-4">
        <label for="amount">Amount</label>
        <input type="text" class="form-control" id="amount" name="amount" value="{{newLoan.amount}}"
          placeholder="Loan Amount" pattern="[0-9]{1,5}" title="only digits max. length 5 characters" required>
      </div>

      <div class="form-group col-md-4">
        <label for="returnDate">Date of return</label>
        <input type="date" class="form-control" id="returnDate" name="returnDate" value="{{newLoan.returnDate}}"
          placeholder="Return date" required>
      </div>

      <div class="form-group">
        <label>If paid?</label>
        <input type="radio" id="paidYes" name="paid" value='true'>
        <label for="paidYes">Yes</label>
        <input type="radio" id="paidNo" name="paid" value='false'>
        <label for="paidNo">No</label>
        <input type="hidden" id="paidHidden" name="paidHidden" value="{{newLoan.paid}}" />
      </div>

      <input type="hidden" name="_id" value="{{newLoan._id}}" />
      <input type="submit" class="btn btn-primary" value="Add loan">
      <a class="btn btn-danger" href="/loans/">Back </a>
    </form>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    setCheckboxes();
  });
</script>